body {
    background-color: rgb(116, 171, 223);
    font-family: 'Inconsolata', monospace;
}
h1 {
    text-align: center;
}
.main {
    margin-bottom: 20px;
    text-align: center;
    letter-spacing: 5px;
    font-size: 30px;
    
}

.logo {
    text-align: center;
    width: 250px;
}

.second {

    position: static;
    text-align: center;
    border-radius: 50px;
}
img {
    border-radius: 8px;
  }



.food-img {
    max-width: 100%;
    max-height: 100%;

}



.menu {
    width: 300px;
    height: 300px;
}


.food {
    
    display:flex;
    flex-wrap: nowrap;
    justify-content: space-around;

    margin: 0 auto;
    padding: 10px 0;
   
    
}

.container {
    
    padding: 20px;
    letter-spacing: 2px;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
   text-align: center;
   
}

.container:hover {
    border-style: solid;
    border-color: white;
}


ol li {
    list-style-type: none;

}

.back {
    padding: 10px;
    text-align: center;
}






footer {
    text-align: center;
    margin-top: 50px;
}